body {
    font-family: Algerian, sans-serif;
    margin: 40px;
    background-color: #f4s4f4;
}

form {
    background: green;
    padding: 20px;
    background-image: url('image.jpg'); 
    background-size: cover;                  
    background-repeat: no-repeat;             
    background-position: center center;       
    
}

h2 {
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
